In [1]:
!pwd
%matplotlib inline
%reload_ext autoreload
%autoreload 2
import sys
sys.executable

/81908/jupyter_notebook/Dockerfiles/pycaret/xfeat/xfeat_titanic

'/usr/local/bin/python3.7'

# タイタニックのデータを使って xfeat で特徴量作成 + lightGBM で学習をしてみた
- https://megane-man666.hatenablog.com/entry/xfeat
- https://github.com/KJMAN678/xfeat_titanic/blob/master/titanic_xfeat.ipynb

<br>

## xfeat: pnfが作った特徴量エンジニアリングのライブラリ
- データフレームから特徴量を作成するための各種エンコーダーを実装しています。cuDF を使うことでエンコーダーによっては 10~30 倍の高速化が可能となります。
- Code: https://t.co/IbqRET9YA2 
- Slides: https://t.co/8CY0IdCuJM pic.twitter.com/xM5HxRMQtj

<br>

## xfeat触ってみた感想
- カテゴリ列のラベルエンコーディング や 列同士を足し算、掛け算して新しい列作るとかがsklearnのpipelineのようにできるのはいい
- cuDFのGPU使った高速化は試せてない
- GBDTやOptuna用のAPIもあるが試せてない

In [2]:
import pandas as pd
import numpy as np
import os

from IPython.display import display

import xfeat
from xfeat import SelectCategorical, LabelEncoder, Pipeline, ConcatCombination, SelectNumerical, ArithmeticCombinations,  LambdaEncoder

import pickle

from sklearn.model_selection import train_test_split

# lightGBM
import lightgbm as lgb

# 平均平方根誤差 (MSE)
from sklearn.metrics import mean_squared_error

import seaborn as sns
df = sns.load_dataset("titanic")
print(df.shape)
df_train, df_test = train_test_split(df, test_size=0.3)
print(df_train.shape, df_test.shape)
df.head()

(891, 15)
(623, 15) (268, 15)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [3]:
# reset_index()しないとto_feather()エラーになる
df_train = df_train.reset_index()
df_test = df_test.reset_index()

# データフレームをfeather形式に変換
# feather形式は、C++で実装されており、読み込みが非常に高速なファイルらしい
path = os.getcwd() + "/"
xfeat.utils.compress_df(df_train).to_feather(path + "train" + ".ftr")
xfeat.utils.compress_df(df_test).to_feather(path + "test" + ".ftr")

In [4]:
# feather形式のデータを読込
dtrain = pd.read_feather("./train.ftr")
dtest = pd.read_feather("./test.ftr")

display(dtrain.head(3))
display(dtrain.tail(3))
display(dtrain.dtypes)
display(dtest.head(3))
display(dtest.tail(3))
display(dtest.dtypes)

,index,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,171,0,3,male,4.0,4,1,29.125000,Q,Third,child,False,NaN,Queenstown,no,False
1,793,0,1,male,NaN,0,0,30.695801,C,First,man,True,NaN,Cherbourg,no,True
2,292,0,2,male,36.0,0,0,12.875000,C,Second,man,True,D,Cherbourg,no,True

,index,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
620,194,1,1,female,44.0,0,0,27.7208,C,First,woman,False,B,Cherbourg,yes,True
621,495,0,3,male,NaN,0,0,14.4583,C,Third,man,True,NaN,Cherbourg,no,True
622,882,0,3,female,22.0,0,0,10.5167,S,Third,woman,False,NaN,Southampton,no,True

index             int16
survived           int8
pclass             int8
sex              object
age             float32
sibsp              int8
parch              int8
fare            float32
embarked         object
class          category
who              object
adult_male         bool
deck           category
embark_town      object
alive            object
alone              bool
dtype: object

,index,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,835,1,1,female,39.0,1,1,83.158302,C,First,woman,False,E,Cherbourg,yes,False
1,343,0,2,male,25.0,0,0,13.000000,S,Second,man,True,NaN,Southampton,no,True
2,707,1,1,male,42.0,0,0,26.287500,S,First,man,True,E,Southampton,yes,True

,index,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
265,805,0,3,male,31.0,0,0,7.7750,S,Third,man,True,NaN,Southampton,no,True
266,697,1,3,female,NaN,0,0,7.7333,Q,Third,woman,False,NaN,Queenstown,yes,True
267,574,0,3,male,16.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

index             int16
survived           int8
pclass             int8
sex              object
age             float32
sibsp              int8
parch              int8
fare            float32
embarked         object
class          category
who              object
adult_male         bool
deck           category
embark_town      object
alive            object
alone              bool
dtype: object

## xfeat で実装されているラベルエンコーディング etc...

In [5]:
# カテゴリデータ（object）のみ表示　SelectCategorical().fit_transform()
display(SelectCategorical().fit_transform(dtrain).head())
display(SelectCategorical().fit_transform(dtest).head())

      sex embarked   class    who deck  embark_town alive
0    male        Q   Third  child  NaN   Queenstown    no
1    male        C   First    man  NaN    Cherbourg    no
2    male        C  Second    man    D    Cherbourg    no
3    male        C   Third  child  NaN    Cherbourg    no
4  female        S  Second  woman  NaN  Southampton   yes

      sex embarked   class    who deck  embark_town alive
0  female        C   First  woman    E    Cherbourg   yes
1    male        S  Second    man  NaN  Southampton    no
2    male        S   First    man    E  Southampton   yes
3    male        Q   First    man    C   Queenstown    no
4    male        S  Second  child  NaN  Southampton   yes

In [6]:
# ラベルエンコーディング

# Takes categorical columns from the data frame and performs label encoding on them.
# The converted data is stored in the column with suffix defined in `output_suffix`.
# By defining `output_suffix=""`, it is possible to store the result in the same column.

# データフレームからカテゴリ型の列を取り出し、ラベルエンコーディングを行います。
# 変換されたデータは `output_suffix` で定義されたサフィックスを持つ列に格納されます。
# output_suffix=""`を定義することで、同じカラムに結果を格納することができます。

encoder1 = Pipeline([
    # 除外するカラムをexclude_colsに指定
    SelectCategorical(exclude_cols=["alive"]),
    # ラベルエンコーディング
    LabelEncoder(output_suffix=""),
])

_dtrain = encoder1.fit_transform(dtrain).head()
_dtest = encoder1.fit_transform(dtest).head()
display(_dtrain)
display(_dtest)

   sex  embarked  class  who  deck  embark_town
0    0         0      0    0    -1            0
1    0         1      1    1    -1            1
2    0         1      2    1     0            1
3    0         1      0    0    -1            1
4    1         2      2    2    -1            2

   sex  embarked  class  who  deck  embark_town
0    0         0      0    0     0            0
1    1         1      1    1    -1            1
2    1         1      0    1     0            1
3    1         2      0    1     1            2
4    1         1      1    2    -1            1

In [7]:
encoder2 = Pipeline([
    # SelectCategorical() カテゴリカルデータ(object)のみをラベルエンコーディング
    # 除外するカラムをexclude_colsに指定
    SelectCategorical(exclude_cols=["alive"]),
    LabelEncoder(output_suffix=""),

    # If there are many categorical columns,
    # users can specify the columns to be combined with `input_cols` kwargs.
    # `r=2` specifies the number of columns to combine the columns.
    
    # カテゴリ列が多数存在する場合.
    # ユーザーは `input_cols` kwargs で結合するカラムを指定することができます。
    # `r=2` は結合するカラムの数を指定します。
    # ConcatCombination() 複数のカテゴリカルデータを組み合わせてラベルエンコーディング
    # 4つの項目から2つを選ぶ場合は　4C2 = 6　6通りが出力される
    ConcatCombination(drop_origin=True, output_suffix="", r=2),
])

display(encoder2.fit_transform(dtrain).head())
display(encoder2.fit_transform(dtest).head())

,sexembarked,sexclass,sexwho,sexdeck,sexembark_town,embarkedclass,embarkedwho,embarkeddeck,embarkedembark_town,classwho,classdeck,classembark_town,whodeck,whoembark_town,deckembark_town
0,0,0,0,-1,0,0,0,-1,0,0,-1,0,-1,0,-1
1,1,1,1,-1,1,2,2,0,2,2,0,2,0,2,0
2,1,2,1,0,1,3,2,1,2,3,2,3,1,2,1
3,1,0,0,-1,1,1,1,0,2,0,-1,1,-1,1,0
4,3,3,3,0,3,4,4,1,4,4,1,4,1,4,1

,sexembarked,sexclass,sexwho,sexdeck,sexembark_town,embarkedclass,embarkedwho,embarkeddeck,embarkedembark_town,classwho,classdeck,classembark_town,whodeck,whoembark_town,deckembark_town
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,2,2,0,2,2,2,0,2,2,0,2,0,2,0
2,2,1,2,1,2,1,2,1,2,1,0,1,1,2,1
3,3,1,2,2,3,2,3,3,4,1,1,2,2,3,3
4,2,2,3,0,2,2,3,0,2,3,0,2,1,3,0

In [8]:
# SelectNumerical extracts only the column of numerical data from the input dataframe.
# 入力データフレームから数値データの列のみを抽出します

# exclude_cols で出力しないカラムを指定

encoder3_1 = Pipeline([
    # 除外するカラムをexclude_colsに指定
    SelectNumerical(exclude_cols=["index", "survived"]),
    LabelEncoder(output_suffix=""),
])

encoder3_2 = Pipeline([
    # 除外するカラムをexclude_colsに指定
    SelectNumerical(exclude_cols=["index"]),
    LabelEncoder(output_suffix=""),
])

display(encoder3_1.fit_transform(dtrain).head())
# test.csvは Survived がないのでencoder3_1を適用するとエラーが発生する
display(encoder3_2.fit_transform(dtest).head())

   pclass  age  sibsp  parch  fare  adult_male  alone
0       0    0      0      0     0           0      0
1       1   -1      1      1     1           1      1
2       2    1      1      1     2           1      1
3       0    2      1      1     3           0      1
4       2    3      1      0     4           0      0

   survived  pclass  age  sibsp  parch  fare  adult_male  alone
0         0       0    0      0      0     0           0      0
1         1       1    1      1      1     1           1      1
2         0       0    2      1      1     2           1      1
3         1       0    3      2      1     3           1      0
4         0       1    4      0      0     4           0      0

In [9]:
# xfeat.ArithmeticCombinations　creates new columns by applying arithmetic combinations.
# 算術的な組み合わせを適用して新しい列を作成します。

encoder4_1 = Pipeline([
    SelectNumerical(exclude_cols=["index", "survived"]),
    # ArithmeticCombinations() 複数の数値データを加算して新しい項目を作る
    ArithmeticCombinations(
        drop_origin=True,
        operator="+",
        r=2,
        output_suffix="",
    ),
])

encoder4_2 = Pipeline([
    SelectNumerical(exclude_cols=["index"]),
    ArithmeticCombinations(
        drop_origin=True,
        operator="+",
        r=2,
        output_suffix="",
    ),
])

display(encoder4_1.fit_transform(dtrain).head())
display(encoder4_2.fit_transform(dtest).head())

/usr/local/lib/python3.7/site-packages/pandas/core/computation/expressions.py:178: UserWarning:

evaluating in Python space because the '+' operator is not supported by numexpr for the bool dtype, use '|' instead

,pclassage,pclasssibsp,pclassparch,pclassfare,pclassadult_male,pclassalone,agesibsp,ageparch,agefare,ageadult_male,...,sibspparch,sibspfare,sibspadult_male,sibspalone,parchfare,parchadult_male,parchalone,fareadult_male,farealone,adult_malealone
0,7.0,7,4,32.125000,3,3,8.0,5.0,33.1250,4.0,...,5,33.125000,4,4,30.125000,1,1,29.125000,29.125000,False
1,NaN,1,1,31.695801,2,2,NaN,NaN,NaN,NaN,...,0,30.695801,1,1,30.695801,1,1,31.695801,31.695801,True
2,38.0,2,2,14.875000,3,3,36.0,36.0,48.8750,37.0,...,0,12.875000,1,1,12.875000,1,1,13.875000,13.875000,True
3,14.0,3,3,21.787500,3,4,11.0,11.0,29.7875,11.0,...,0,18.787500,0,1,18.787500,0,1,18.787500,19.787500,True
4,36.0,2,3,25.000000,2,2,34.0,35.0,57.0000,34.0,...,1,23.000000,0,0,24.000000,1,1,23.000000,23.000000,False

/usr/local/lib/python3.7/site-packages/pandas/core/computation/expressions.py:178: UserWarning:

evaluating in Python space because the '+' operator is not supported by numexpr for the bool dtype, use '|' instead

,survivedpclass,survivedage,survivedsibsp,survivedparch,survivedfare,survivedadult_male,survivedalone,pclassage,pclasssibsp,pclassparch,...,sibspparch,sibspfare,sibspadult_male,sibspalone,parchfare,parchadult_male,parchalone,fareadult_male,farealone,adult_malealone
0,2,40.00,2,2,84.158302,1,1,40.00,2,2,...,2,84.158302,1,1,84.158302,1,1,83.158302,83.158302,False
1,2,25.00,0,0,13.000000,1,1,27.00,2,2,...,0,13.000000,1,1,13.000000,1,1,14.000000,14.000000,True
2,2,43.00,1,1,27.287500,2,2,43.00,1,1,...,0,26.287500,1,1,26.287500,1,1,27.287500,27.287500,True
3,1,44.00,2,0,90.000000,1,0,45.00,3,1,...,2,92.000000,3,2,90.000000,1,0,91.000000,90.000000,True
4,3,1.83,2,2,19.750000,1,1,2.83,3,3,...,2,19.750000,1,1,19.750000,1,1,18.750000,18.750000,False

In [10]:
# Serialize/Deserialize
# The parameters of the encoder can be serialized/deserialized by pickle.
# エンコーダのパラメータをPickleでシリアライズ/デシリアライズすることができます。

encoder7 = Pipeline([
    SelectCategorical(exclude_cols=["alive"]),
    LabelEncoder(output_suffix=""),
])

dtrain_encoded = encoder7.fit_transform(dtrain)

# 書き込み
with open("label_train.pkl", "wb") as f:
    pickle.dump(encoder7, f)
    
dtrain_encoded.head()

   sex  embarked  class  who  deck  embark_town
0    0         0      0    0    -1            0
1    0         1      1    1    -1            1
2    0         1      2    1     0            1
3    0         1      0    0    -1            1
4    1         2      2    2    -1            2

In [11]:
# 読込み
with open("label_train.pkl", "rb") as f:
    encoder7 = pickle.load(f)

encoder7.transform(dtrain).head()

   sex  embarked  class  who  deck  embark_town
0    0         0      0    0    -1            0
1    0         1      1    1    -1            1
2    0         1      2    1     0            1
3    0         1      0    0    -1            1
4    1         2      2    2    -1            2

In [12]:
encoder8 = Pipeline([
    SelectCategorical(exclude_cols=["alive"]),
    LabelEncoder(output_suffix=""),
])

dtest_encoded2 = encoder8.fit_transform(dtest)

# 書き込み
with open("label_test.pkl", "wb") as f:
    pickle.dump(encoder8, f)
    
dtest_encoded2.head()

   sex  embarked  class  who  deck  embark_town
0    0         0      0    0     0            0
1    1         1      1    1    -1            1
2    1         1      0    1     0            1
3    1         2      0    1     1            2
4    1         1      1    2    -1            1

In [13]:
# 読込み
with open("label_test.pkl", "rb") as f:
    encoder8 = pickle.load(f)

encoder8.transform(dtest).head()

   sex  embarked  class  who  deck  embark_town
0    0         0      0    0     0            0
1    1         1      1    1    -1            1
2    1         1      0    1     0            1
3    1         2      0    1     1            2
4    1         1      1    2    -1            1

In [14]:
# SelectCategorical
dtrain_en1 = encoder1.fit_transform(dtrain)
dtest_en1 = encoder1.fit_transform(dtest)

# SelectCategorical + ConcatCombination
dtrain_en2 = encoder2.fit_transform(dtrain)
dtest_en2 = encoder2.fit_transform(dtest)

# SelectNumerical
dtrain_en3_1 = encoder3_1.fit_transform(dtrain)
dtest_en3_2 = encoder3_2.fit_transform(dtest)

# SelectNumerical + ArithmeticCombinations
dtrain_en4_1 = encoder4_1.fit_transform(dtrain)
dtest_en4_2 = encoder4_2.fit_transform(dtest)

display(dtrain_en1.head())
display(dtest_en1.head())

display(dtrain_en2.head())
display(dtest_en2.head())

display(dtrain_en3_1.head())
display(dtest_en3_2.head())

display(dtrain_en4_1.head())
display(dtest_en4_2.head())

/usr/local/lib/python3.7/site-packages/pandas/core/computation/expressions.py:178: UserWarning:

evaluating in Python space because the '+' operator is not supported by numexpr for the bool dtype, use '|' instead

   sex  embarked  class  who  deck  embark_town
0    0         0      0    0    -1            0
1    0         1      1    1    -1            1
2    0         1      2    1     0            1
3    0         1      0    0    -1            1
4    1         2      2    2    -1            2

   sex  embarked  class  who  deck  embark_town
0    0         0      0    0     0            0
1    1         1      1    1    -1            1
2    1         1      0    1     0            1
3    1         2      0    1     1            2
4    1         1      1    2    -1            1

,sexembarked,sexclass,sexwho,sexdeck,sexembark_town,embarkedclass,embarkedwho,embarkeddeck,embarkedembark_town,classwho,classdeck,classembark_town,whodeck,whoembark_town,deckembark_town
0,0,0,0,-1,0,0,0,-1,0,0,-1,0,-1,0,-1
1,1,1,1,-1,1,2,2,0,2,2,0,2,0,2,0
2,1,2,1,0,1,3,2,1,2,3,2,3,1,2,1
3,1,0,0,-1,1,1,1,0,2,0,-1,1,-1,1,0
4,3,3,3,0,3,4,4,1,4,4,1,4,1,4,1

,sexembarked,sexclass,sexwho,sexdeck,sexembark_town,embarkedclass,embarkedwho,embarkeddeck,embarkedembark_town,classwho,classdeck,classembark_town,whodeck,whoembark_town,deckembark_town
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,2,2,0,2,2,2,0,2,2,0,2,0,2,0
2,2,1,2,1,2,1,2,1,2,1,0,1,1,2,1
3,3,1,2,2,3,2,3,3,4,1,1,2,2,3,3
4,2,2,3,0,2,2,3,0,2,3,0,2,1,3,0

   pclass  age  sibsp  parch  fare  adult_male  alone
0       0    0      0      0     0           0      0
1       1   -1      1      1     1           1      1
2       2    1      1      1     2           1      1
3       0    2      1      1     3           0      1
4       2    3      1      0     4           0      0

   survived  pclass  age  sibsp  parch  fare  adult_male  alone
0         0       0    0      0      0     0           0      0
1         1       1    1      1      1     1           1      1
2         0       0    2      1      1     2           1      1
3         1       0    3      2      1     3           1      0
4         0       1    4      0      0     4           0      0

,pclassage,pclasssibsp,pclassparch,pclassfare,pclassadult_male,pclassalone,agesibsp,ageparch,agefare,ageadult_male,...,sibspparch,sibspfare,sibspadult_male,sibspalone,parchfare,parchadult_male,parchalone,fareadult_male,farealone,adult_malealone
0,7.0,7,4,32.125000,3,3,8.0,5.0,33.1250,4.0,...,5,33.125000,4,4,30.125000,1,1,29.125000,29.125000,False
1,NaN,1,1,31.695801,2,2,NaN,NaN,NaN,NaN,...,0,30.695801,1,1,30.695801,1,1,31.695801,31.695801,True
2,38.0,2,2,14.875000,3,3,36.0,36.0,48.8750,37.0,...,0,12.875000,1,1,12.875000,1,1,13.875000,13.875000,True
3,14.0,3,3,21.787500,3,4,11.0,11.0,29.7875,11.0,...,0,18.787500,0,1,18.787500,0,1,18.787500,19.787500,True
4,36.0,2,3,25.000000,2,2,34.0,35.0,57.0000,34.0,...,1,23.000000,0,0,24.000000,1,1,23.000000,23.000000,False

,survivedpclass,survivedage,survivedsibsp,survivedparch,survivedfare,survivedadult_male,survivedalone,pclassage,pclasssibsp,pclassparch,...,sibspparch,sibspfare,sibspadult_male,sibspalone,parchfare,parchadult_male,parchalone,fareadult_male,farealone,adult_malealone
0,2,40.00,2,2,84.158302,1,1,40.00,2,2,...,2,84.158302,1,1,84.158302,1,1,83.158302,83.158302,False
1,2,25.00,0,0,13.000000,1,1,27.00,2,2,...,0,13.000000,1,1,13.000000,1,1,14.000000,14.000000,True
2,2,43.00,1,1,27.287500,2,2,43.00,1,1,...,0,26.287500,1,1,26.287500,1,1,27.287500,27.287500,True
3,1,44.00,2,0,90.000000,1,0,45.00,3,1,...,2,92.000000,3,2,90.000000,1,0,91.000000,90.000000,True
4,3,1.83,2,2,19.750000,1,1,2.83,3,3,...,2,19.750000,1,1,19.750000,1,1,18.750000,18.750000,False

## データ結合

In [15]:
train = pd.concat([dtrain_en1, dtrain_en2], axis=1)
train = pd.concat([train, dtrain_en3_1], axis=1)
train = pd.concat([train, dtrain_en4_1], axis=1)
train = pd.concat([train, dtrain["survived"]], axis=1)

test = pd.concat([dtest_en1, dtest_en2], axis=1)
test = pd.concat([test, dtest_en3_2], axis=1)
test = pd.concat([test, dtest_en4_2], axis=1)

display(train.head())
display(train.shape)

display(test.head())
display(test.shape)

,sex,embarked,class,who,deck,embark_town,sexembarked,sexclass,sexwho,sexdeck,...,sibspfare,sibspadult_male,sibspalone,parchfare,parchadult_male,parchalone,fareadult_male,farealone,adult_malealone,survived
0,0,0,0,0,-1,0,0,0,0,-1,...,33.125000,4,4,30.125000,1,1,29.125000,29.125000,False,0
1,0,1,1,1,-1,1,1,1,1,-1,...,30.695801,1,1,30.695801,1,1,31.695801,31.695801,True,0
2,0,1,2,1,0,1,1,2,1,0,...,12.875000,1,1,12.875000,1,1,13.875000,13.875000,True,0
3,0,1,0,0,-1,1,1,0,0,-1,...,18.787500,0,1,18.787500,0,1,18.787500,19.787500,True,0
4,1,2,2,2,-1,2,3,3,3,0,...,23.000000,0,0,24.000000,1,1,23.000000,23.000000,False,1

(623, 50)

,sex,embarked,class,who,deck,embark_town,sexembarked,sexclass,sexwho,sexdeck,...,sibspparch,sibspfare,sibspadult_male,sibspalone,parchfare,parchadult_male,parchalone,fareadult_male,farealone,adult_malealone
0,0,0,0,0,0,0,0,0,0,0,...,2,84.158302,1,1,84.158302,1,1,83.158302,83.158302,False
1,1,1,1,1,-1,1,2,2,2,0,...,0,13.000000,1,1,13.000000,1,1,14.000000,14.000000,True
2,1,1,0,1,0,1,2,1,2,1,...,0,26.287500,1,1,26.287500,1,1,27.287500,27.287500,True
3,1,2,0,1,1,2,3,1,2,2,...,2,92.000000,3,2,90.000000,1,0,91.000000,90.000000,True
4,1,1,1,2,-1,1,2,2,3,0,...,2,19.750000,1,1,19.750000,1,1,18.750000,18.750000,False

(268, 57)

## lightGBM

In [16]:
features = test.columns.to_list()
features = list(set(features) - 
                set(['survivedadult_male', 
                 'survivedalone', 
                 'survivedage', 
                 'survivedsibsp', 
                 'survivedpclass', 
                 'survivedparch', 
                 'survivedfare'])
               )
print(features)

['classdeck', 'parch', 'embarkedembark_town', 'agealone', 'fare', 'pclassparch', 'sex', 'alone', 'class', 'sibsp', 'sibspparch', 'embarked', 'sexembarked', 'sibspadult_male', 'ageadult_male', 'agefare', 'whoembark_town', 'pclassadult_male', 'pclassage', 'sexwho', 'whodeck', 'fareadult_male', 'embark_town', 'classwho', 'embarkedclass', 'parchfare', 'sexclass', 'age', 'sibspalone', 'parchalone', 'adult_malealone', 'ageparch', 'farealone', 'pclasssibsp', 'embarkeddeck', 'deckembark_town', 'classembark_town', 'sibspfare', 'pclassalone', 'deck', 'adult_male', 'embarkedwho', 'pclassfare', 'who', 'pclass', 'sexdeck', 'parchadult_male', 'survived', 'agesibsp', 'sexembark_town']

In [17]:
params = {
    'boosting_type': 'gbdt',
    'metric': 'rmse',
    'objective': 'binary', # 二項分類
    'n_jobs': -1,
    'seed': 236,
    'learning_rate': 0.1,
    'bagging_fraction': 0.75,
    'bagging_freq': 10, 
    'colsample_bytree': 0.75
}

# ホールドアウト法
X_train, X_test, y_train, y_test = train_test_split(train[features], 
                                                    train["survived"], 
                                                    random_state=42)

# lightGBM 用のデータに変形
lgb_train = lgb.Dataset(X_train, y_train)
lgb_val = lgb.Dataset(X_test, y_test)

# モデルの作成
model_lgb = lgb.train(params, 
                      lgb_train, 
                      num_boost_round=2500, 
                      early_stopping_rounds = 50, 
                      valid_sets = [lgb_train, lgb_val], 
                      verbose_eval = 1)

[1]	training's rmse: 0.461017	valid_1's rmse: 0.457756
Training until validation scores don't improve for 50 rounds
[2]	training's rmse: 0.414909	valid_1's rmse: 0.41201
[3]	training's rmse: 0.373839	valid_1's rmse: 0.3713
[4]	training's rmse: 0.357723	valid_1's rmse: 0.358182
[5]	training's rmse: 0.322665	valid_1's rmse: 0.323367
[6]	training's rmse: 0.291238	valid_1's rmse: 0.292186
[7]	training's rmse: 0.26294	valid_1's rmse: 0.26397
[8]	training's rmse: 0.237477	valid_1's rmse: 0.238557
[9]	training's rmse: 0.214536	valid_1's rmse: 0.215639
[10]	training's rmse: 0.206102	valid_1's rmse: 0.209299
[11]	training's rmse: 0.199046	valid_1's rmse: 0.204439
[12]	training's rmse: 0.179907	valid_1's rmse: 0.185031
[13]	training's rmse: 0.174771	valid_1's rmse: 0.182043
[14]	training's rmse: 0.158061	valid_1's rmse: 0.165008
[15]	training's rmse: 0.153374	valid_1's rmse: 0.162853
[16]	training's rmse: 0.150016	valid_1's rmse: 0.162534
[17]	training's rmse: 0.135746	valid_1's rmse: 0.147522
[18]	training's rmse: 0.122838	valid_1's rmse: 0.133863
[19]	training's rmse: 0.111161	valid_1's rmse: 0.121451
[20]	training's rmse: 0.100595	valid_1's rmse: 0.110164
[21]	training's rmse: 0.0982519	valid_1's rmse: 0.109533
[22]	training's rmse: 0.0889357	valid_1's rmse: 0.0994391
[23]	training's rmse: 0.0805021	valid_1's rmse: 0.0902536
[24]	training's rmse: 0.0728668	valid_1's rmse: 0.0818972
[25]	training's rmse: 0.0659544	valid_1's rmse: 0.074298
[26]	training's rmse: 0.0596973	valid_1's rmse: 0.0673896
[27]	training's rmse: 0.0540321	valid_1's rmse: 0.0611119
[28]	training's rmse: 0.0488984	valid_1's rmse: 0.0554041
[29]	training's rmse: 0.0442562	valid_1's rmse: 0.050225
[30]	training's rmse: 0.040054	valid_1's rmse: 0.0455228
[31]	training's rmse: 0.0362499	valid_1's rmse: 0.0412551
[32]	training's rmse: 0.0328068	valid_1's rmse: 0.0373819
[33]	training's rmse: 0.0323587	valid_1's rmse: 0.0378731
[34]	training's rmse: 0.0292879	valid_1's rmse: 0.0343306
[35]	training's rmse: 0.0265082	valid_1's rmse: 0.0311143
[36]	training's rmse: 0.0239914	valid_1's rmse: 0.0281945
[37]	training's rmse: 0.0217132	valid_1's rmse: 0.0255459
[38]	training's rmse: 0.0196509	valid_1's rmse: 0.0231428
[39]	training's rmse: 0.0177842	valid_1's rmse: 0.0209633
[40]	training's rmse: 0.0160946	valid_1's rmse: 0.0189872
[41]	training's rmse: 0.0145641	valid_1's rmse: 0.0171943
[42]	training's rmse: 0.0144173	valid_1's rmse: 0.0176219
[43]	training's rmse: 0.0130471	valid_1's rmse: 0.0159612
[44]	training's rmse: 0.0118067	valid_1's rmse: 0.0144554
[45]	training's rmse: 0.0106842	valid_1's rmse: 0.0130908
[46]	training's rmse: 0.00966831	valid_1's rmse: 0.0118539
[47]	training's rmse: 0.00958993	valid_1's rmse: 0.0121426
[48]	training's rmse: 0.00867859	valid_1's rmse: 0.0109968
[49]	training's rmse: 0.00863758	valid_1's rmse: 0.0114554
[50]	training's rmse: 0.00781668	valid_1's rmse: 0.0103757
[51]	training's rmse: 0.0077629	valid_1's rmse: 0.010787
[52]	training's rmse: 0.00702483	valid_1's rmse: 0.00977093
[53]	training's rmse: 0.00635687	valid_1's rmse: 0.00884974
[54]	training's rmse: 0.00633661	valid_1's rmse: 0.00922345
[55]	training's rmse: 0.00573416	valid_1's rmse: 0.00835464
[56]	training's rmse: 0.00570608	valid_1's rmse: 0.00864942
[57]	training's rmse: 0.00516364	valid_1's rmse: 0.00783536
[58]	training's rmse: 0.00467271	valid_1's rmse: 0.0070972
[59]	training's rmse: 0.00422841	valid_1's rmse: 0.0064278
[60]	training's rmse: 0.00382628	valid_1's rmse: 0.00582083
[61]	training's rmse: 0.00346232	valid_1's rmse: 0.0052707
[62]	training's rmse: 0.00340721	valid_1's rmse: 0.00538001
[63]	training's rmse: 0.00308312	valid_1's rmse: 0.00487148
[64]	training's rmse: 0.00278987	valid_1's rmse: 0.00441086
[65]	training's rmse: 0.00252447	valid_1's rmse: 0.00399343
[66]	training's rmse: 0.00250211	valid_1's rmse: 0.00408913
[67]	training's rmse: 0.00226409	valid_1's rmse: 0.00370216
[68]	training's rmse: 0.00204871	valid_1's rmse: 0.00335164
[69]	training's rmse: 0.00202908	valid_1's rmse: 0.00340706
[70]	training's rmse: 0.00183604	valid_1's rmse: 0.00308442
[71]	training's rmse: 0.00183606	valid_1's rmse: 0.00312333
[72]	training's rmse: 0.00166139	valid_1's rmse: 0.0028275
[73]	training's rmse: 0.00165698	valid_1's rmse: 0.00287978
[74]	training's rmse: 0.00149936	valid_1's rmse: 0.00260701
[75]	training's rmse: 0.00150031	valid_1's rmse: 0.00268835
[76]	training's rmse: 0.00135759	valid_1's rmse: 0.00243383
[77]	training's rmse: 0.00122845	valid_1's rmse: 0.00220324
[78]	training's rmse: 0.00122729	valid_1's rmse: 0.00232803
[79]	training's rmse: 0.00111054	valid_1's rmse: 0.00210753
[80]	training's rmse: 0.00100491	valid_1's rmse: 0.00190785
[81]	training's rmse: 0.000909303	valid_1's rmse: 0.00172697
[82]	training's rmse: 0.000822794	valid_1's rmse: 0.0015632
[83]	training's rmse: 0.000744511	valid_1's rmse: 0.00141489
[84]	training's rmse: 0.000729702	valid_1's rmse: 0.00141199
[85]	training's rmse: 0.000660275	valid_1's rmse: 0.00127798
[86]	training's rmse: 0.000651922	valid_1's rmse: 0.00131137
[87]	training's rmse: 0.000589895	valid_1's rmse: 0.0011869
[88]	training's rmse: 0.000533768	valid_1's rmse: 0.00107422
[89]	training's rmse: 0.000482981	valid_1's rmse: 0.000972217
[90]	training's rmse: 0.000437025	valid_1's rmse: 0.000879881
[91]	training's rmse: 0.000432623	valid_1's rmse: 0.000940484
[92]	training's rmse: 0.000391457	valid_1's rmse: 0.000851169
[93]	training's rmse: 0.000354208	valid_1's rmse: 0.000770319
[94]	training's rmse: 0.000320503	valid_1's rmse: 0.000697137
[95]	training's rmse: 0.000290004	valid_1's rmse: 0.000630895
[96]	training's rmse: 0.000262409	valid_1's rmse: 0.000570942
[97]	training's rmse: 0.000237438	valid_1's rmse: 0.00051668
[98]	training's rmse: 0.000214844	valid_1's rmse: 0.000467566
[99]	training's rmse: 0.0001944	valid_1's rmse: 0.000423117
[100]	training's rmse: 0.000175901	valid_1's rmse: 0.000382889
[101]	training's rmse: 0.000172454	valid_1's rmse: 0.000392695
[102]	training's rmse: 0.000170302	valid_1's rmse: 0.000405195
[103]	training's rmse: 0.000154096	valid_1's rmse: 0.000366675
[104]	training's rmse: 0.000139433	valid_1's rmse: 0.000331814
[105]	training's rmse: 0.000126164	valid_1's rmse: 0.000300264
[106]	training's rmse: 0.000114158	valid_1's rmse: 0.000271712
[107]	training's rmse: 0.000103295	valid_1's rmse: 0.000245873
[108]	training's rmse: 9.34655e-05	valid_1's rmse: 0.000222489
[109]	training's rmse: 8.45713e-05	valid_1's rmse: 0.000201329
[110]	training's rmse: 7.65234e-05	valid_1's rmse: 0.000182179
[111]	training's rmse: 7.66782e-05	valid_1's rmse: 0.000193694
[112]	training's rmse: 6.93815e-05	valid_1's rmse: 0.000175272
[113]	training's rmse: 6.9819e-05	valid_1's rmse: 0.0001828
[114]	training's rmse: 6.31751e-05	valid_1's rmse: 0.000165413
[115]	training's rmse: 5.71634e-05	valid_1's rmse: 0.00014968
[116]	training's rmse: 5.72893e-05	valid_1's rmse: 0.000154624
[117]	training's rmse: 5.18377e-05	valid_1's rmse: 0.000139916
[118]	training's rmse: 5.22664e-05	valid_1's rmse: 0.000145229
[119]	training's rmse: 5.28597e-05	valid_1's rmse: 0.000151647
[120]	training's rmse: 4.78296e-05	valid_1's rmse: 0.000137223
[121]	training's rmse: 4.32781e-05	valid_1's rmse: 0.00012417
[122]	training's rmse: 4.30683e-05	valid_1's rmse: 0.000127408
[123]	training's rmse: 3.89699e-05	valid_1's rmse: 0.000115289
[124]	training's rmse: 3.86889e-05	valid_1's rmse: 0.000116661
[125]	training's rmse: 3.50072e-05	valid_1's rmse: 0.000105563
[126]	training's rmse: 3.16759e-05	valid_1's rmse: 9.55211e-05
[127]	training's rmse: 2.86616e-05	valid_1's rmse: 8.64339e-05
[128]	training's rmse: 2.86321e-05	valid_1's rmse: 8.60022e-05
[129]	training's rmse: 2.59074e-05	valid_1's rmse: 7.78203e-05
[130]	training's rmse: 2.34421e-05	valid_1's rmse: 7.04165e-05
[131]	training's rmse: 2.12113e-05	valid_1's rmse: 6.3717e-05
[132]	training's rmse: 1.91928e-05	valid_1's rmse: 5.76548e-05
[133]	training's rmse: 1.73664e-05	valid_1's rmse: 5.21693e-05
[134]	training's rmse: 1.57138e-05	valid_1's rmse: 4.72056e-05
[135]	training's rmse: 1.42185e-05	valid_1's rmse: 4.27142e-05
[136]	training's rmse: 1.28654e-05	valid_1's rmse: 3.865e-05
[137]	training's rmse: 1.16411e-05	valid_1's rmse: 3.49725e-05
[138]	training's rmse: 1.05333e-05	valid_1's rmse: 3.16448e-05
[139]	training's rmse: 9.53097e-06	valid_1's rmse: 2.86337e-05
[140]	training's rmse: 9.54019e-06	valid_1's rmse: 2.86414e-05
[141]	training's rmse: 9.54004e-06	valid_1's rmse: 2.87855e-05
[142]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[143]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[144]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[145]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[146]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[147]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[148]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[149]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[150]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[151]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[152]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[153]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[154]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[155]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[156]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[157]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[158]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[159]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[160]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[161]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[162]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[163]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[164]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[165]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[166]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[167]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[168]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[169]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[170]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[171]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[172]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[173]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[174]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[175]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[176]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[177]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[178]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[179]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[180]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[181]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[182]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[183]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[184]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[185]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[186]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[187]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[188]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[189]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[190]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[191]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
[192]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05
Early stopping, best iteration is:
[142]	training's rmse: 8.6322e-06	valid_1's rmse: 2.60465e-05

In [18]:
# validationデータで予測値を作成
val_pred = model_lgb.predict(X_test)

# 誤差率を算定
val_score = np.sqrt(mean_squared_error(val_pred, y_test))
print(f'rmse score は {val_score}')

rmse score は 2.6046483934300115e-05

In [19]:
# テストデータで予測値を作成
pred = model_lgb.predict(test[features])
pred

array([1.60771327e-05, 9.99982371e-01, 7.01886230e-06, 9.99985481e-01,
       9.78737590e-05, 9.99984293e-01, 9.99993613e-01, 3.52908219e-05,
       8.10040288e-06, 9.99965793e-01, 3.10404288e-05, 9.99984841e-01,
       9.99986031e-01, 9.99991451e-01, 9.99977607e-01, 9.99989814e-01,
       8.03505178e-06, 3.46670784e-05, 9.99991886e-01, 1.89960207e-05,
       9.99977525e-01, 9.99973385e-01, 9.99972882e-01, 2.24881549e-05,
       9.99988233e-01, 9.99978617e-01, 1.88669296e-05, 2.46972242e-05,
       9.99979002e-01, 9.99972859e-01, 9.99992405e-01, 9.99967532e-01,
       9.99977690e-01, 2.61181018e-05, 9.99986304e-01, 1.50452447e-05,
       1.87552039e-05, 9.99986730e-01, 1.50181224e-05, 9.99981629e-01,
       2.76451805e-05, 9.99988158e-01, 1.31866164e-05, 2.50474579e-05,
       9.99979436e-01, 2.92654776e-05, 9.99973276e-01, 2.79465547e-05,
       9.99990719e-01, 9.99969619e-01, 9.99983591e-01, 3.94123261e-05,
       9.99984372e-01, 9.99979897e-01, 1.44592768e-05, 9.99975062e-01,
       1.18374377e-05, 8.38227269e-06, 9.99972096e-01, 9.99991828e-01,
       1.26935709e-05, 9.99991254e-01, 9.99969636e-01, 1.35364814e-05,
       9.99993020e-01, 2.63511629e-05, 9.99985681e-01, 9.99977517e-01,
       9.99973844e-01, 9.99974880e-01, 9.99959555e-01, 9.99986009e-01,
       9.99972882e-01, 1.58888280e-05, 3.15005477e-05, 1.57391169e-05,
       9.99969267e-01, 7.29792305e-06, 9.99979621e-01, 9.99981079e-01,
       9.99979266e-01, 9.99983260e-01, 9.99982734e-01, 9.99983681e-01,
       9.99974880e-01, 2.31991102e-05, 1.31226054e-05, 9.99989853e-01,
       5.48138461e-05, 9.99988429e-01, 6.42273065e-06, 1.84221635e-05,
       9.99984943e-01, 9.99949311e-01, 3.09706602e-05, 9.99982720e-01,
       9.99985182e-01, 9.99972072e-01, 9.99988904e-01, 1.51032124e-05,
       9.99966571e-01, 2.89756948e-05, 9.88515743e-06, 9.99985860e-01,
       9.99981848e-01, 2.62498702e-05, 9.99987227e-01, 9.99981322e-01,
       9.99987237e-01, 9.99976579e-01, 2.90631901e-05, 3.41072741e-06,
       9.09717591e-06, 9.99989211e-01, 1.86023741e-05, 9.99978732e-01,
       2.60825949e-05, 9.99990938e-01, 1.09349806e-05, 9.99976397e-01,
       9.99980149e-01, 9.99981322e-01, 9.99981322e-01, 2.24263207e-05,
       1.12439036e-05, 4.39216085e-05, 7.81263950e-06, 1.54120313e-05,
       9.99976924e-01, 3.84026882e-05, 9.99986424e-01, 9.99981486e-01,
       9.99992011e-01, 1.89468219e-05, 9.99983774e-01, 9.99989729e-01,
       9.99979897e-01, 9.99978663e-01, 8.27781737e-06, 9.99979897e-01,
       9.99980393e-01, 9.99978732e-01, 4.95416367e-05, 1.42884981e-05,
       6.93720443e-05, 9.99975514e-01, 1.49380354e-05, 9.99965359e-01,
       9.99980631e-01, 3.01666947e-05, 3.29254880e-05, 1.14647589e-05,
       5.87296938e-06, 9.99984239e-01, 9.99992213e-01, 9.99980643e-01,
       9.99987237e-01, 9.99988448e-01, 3.47486261e-05, 9.99978732e-01,
       2.00596319e-05, 9.99988483e-01, 9.99988289e-01, 1.08784798e-05,
       1.49067716e-05, 7.25413697e-06, 2.46972242e-05, 9.99991178e-01,
       9.99968997e-01, 1.32780786e-05, 9.99987732e-01, 9.99983396e-01,
       1.54919040e-05, 9.99973514e-01, 9.99976809e-01, 9.99982806e-01,
       9.99963040e-01, 1.36989495e-05, 9.99980423e-01, 2.70863227e-05,
       9.99984787e-01, 9.99983304e-01, 9.99975341e-01, 9.99971384e-01,
       9.99957080e-01, 3.49567464e-05, 1.97437717e-05, 9.99979829e-01,
       2.13590270e-05, 1.48230079e-05, 9.99980631e-01, 9.99987633e-01,
       9.99992118e-01, 2.01408197e-05, 9.99986424e-01, 9.99983258e-01,
       1.32472003e-05, 9.99986304e-01, 9.99990258e-01, 1.01288272e-05,
       3.36898107e-05, 9.99985931e-01, 1.83723375e-05, 9.99979631e-01,
       9.99987032e-01, 9.99989841e-01, 1.35648372e-05, 9.99988061e-01,
       9.99983594e-01, 1.79708093e-05, 1.03590104e-05, 9.99976046e-01,
       9.99978927e-01, 9.99980467e-01, 9.99979347e-01, 9.99992503e-01,
       9.99979127e-01, 8.44151424e-06, 1.65857321e-05, 3.67458076e-05,
       9.99994718e-01, 2.78345963e-05, 9.99977175e-01, 2.01513705e-05,
       9.99977527e-01, 4.40222042e-06, 2.60276777e-05, 1.82907352e-05,
       7.74909732e-06, 1.00889936e-05, 9.99962713e-01, 1.17897472e-05,
       1.27742890e-05, 2.87014446e-05, 9.99982371e-01, 1.11553495e-05,
       9.99972486e-01, 9.99985929e-01, 9.99987092e-01, 9.99978446e-01,
       9.99976924e-01, 1.61836998e-05, 9.99985618e-01, 9.99982888e-01,
       7.23511395e-06, 3.92505937e-06, 9.99986304e-01, 9.99973702e-01,
       9.99977054e-01, 9.99981322e-01, 7.85032473e-06, 9.99961985e-01,
       9.99989439e-01, 9.99970031e-01, 9.99972859e-01, 9.99983681e-01,
       9.99989329e-01, 1.39982100e-05, 9.99968927e-01, 9.99976060e-01,
       5.06479412e-05, 9.99979227e-01, 1.77954735e-05, 9.99972859e-01,
       6.40854977e-05, 9.99981469e-01, 1.41180404e-05, 9.99990990e-01])

In [21]:
## gender_submission の Survived カラムを予測値に入れ替える
#gs["Survived"] = pred
#
## 0.6以上の場合は 1、0.6未満の場合は 0 に置換
#gs["Survived"].mask(gs["Survived"] >= 0.6, 1, inplace=True)
#gs["Survived"].mask(gs["Survived"] < 0.6, 0, inplace=True)
#
## csvへの出力
#gs.to_csv(path + "submission.csv", index=False)

## https://github.com/pfnet-research/xfeat

### Feature Engineering
- 変換してfeatherファイルに保存

In [22]:
import pandas as pd
from xfeat import Pipeline, SelectNumerical, ArithmeticCombinations

dtrain = pd.read_feather("./train.ftr")

# 2-order Arithmetic combinations.
Pipeline(
    [
        SelectNumerical(),
        ArithmeticCombinations(
            exclude_cols=["survived"], 
            drop_origin=True, 
            operator="+", 
            r=2,
        ),
    ]
).fit_transform(dtrain).reset_index(
    drop=True
).to_feather(
    "feature_arithmetic_combi2.ftr"
)

/usr/local/lib/python3.7/site-packages/pandas/core/computation/expressions.py:178: UserWarning:

evaluating in Python space because the '+' operator is not supported by numexpr for the bool dtype, use '|' instead

### Target Encoding with cuDF/CuPy
- Target Encodingめっちゃ簡単にできる。すごい

In [26]:
from sklearn.model_selection import KFold
from xfeat import TargetEncoder

dtrain = pd.read_feather("./train.ftr")

fold = KFold(n_splits=5, shuffle=False)
encoder = TargetEncoder(input_cols=["embarked", "age", "pclass"], 
                        target_col="survived",
                        fold=fold)

# df = cudf.from_pandas(df)  # if cuDF is available.
df_encoded = encoder.fit_transform(dtrain)
df_encoded

/usr/local/lib/python3.7/site-packages/sklearn/utils/validation.py:933: FutureWarning:

Passing attributes to check_is_fitted is deprecated and will be removed in 0.23. The attributes argument is ignored.

,index,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,embarked_te,age_te,pclass_te
0,171,0,3,male,4.0,4,1,29.125000,Q,Third,child,False,NaN,Queenstown,no,False,0.363636,0.500000,0.237410
1,793,0,1,male,NaN,0,0,30.695801,C,First,man,True,NaN,Cherbourg,no,True,0.543478,0.287129,0.652174
2,292,0,2,male,36.0,0,0,12.875000,C,Second,man,True,D,Cherbourg,no,True,0.543478,0.444444,0.457143
3,731,0,3,male,11.0,0,0,18.787500,C,Third,child,False,NaN,Cherbourg,no,True,0.543478,0.500000,0.237410
4,98,1,2,female,34.0,0,1,23.000000,S,Second,woman,False,NaN,Southampton,yes,False,0.337950,0.333333,0.457143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
618,510,1,3,male,29.0,0,0,7.750000,Q,Third,man,True,NaN,Queenstown,yes,True,0.413043,0.400000,0.242857
619,319,1,1,female,40.0,1,1,134.500000,C,First,woman,False,E,Cherbourg,yes,False,0.500000,0.142857,0.620690
620,194,1,1,female,44.0,0,0,27.720800,C,First,woman,False,B,Cherbourg,yes,True,0.500000,0.333333,0.620690
621,495,0,3,male,NaN,0,0,14.458300,C,Third,man,True,NaN,Cherbourg,no,True,0.500000,0.310680,0.242857
622,882,0,3,female,22.0,0,0,10.516700,S,Third,woman,False,NaN,Southampton,no,True,0.324930,0.461538,0.242857

### Groupby features with cuDF
- xfeat.aggregation 与えられたキーでテーブルの行をグループ化した後に値を集計するヘルパー関数

In [34]:
from xfeat import aggregation

dtrain = pd.read_feather("./train.ftr")

# df = cudf.from_pandas(df)  # if cuDF is available.
df_agg = aggregation(dtrain,
                     group_key="embarked",
                     group_values=["fare", "age"],
                     agg_methods=["sum", "min", "max"]
                     )#.to_pandas()
df_agg[0]

,index,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,...,deck,embark_town,alive,alone,agg_sum_fare_grpby_embarked,agg_sum_age_grpby_embarked,agg_min_fare_grpby_embarked,agg_min_age_grpby_embarked,agg_max_fare_grpby_embarked,agg_max_age_grpby_embarked
0,171,0,3,male,4.0,4,1,29.125000,Q,Third,...,NaN,Queenstown,no,False,671.995972,584.000000,6.7500,2.00,90.000000,70.5
1,793,0,1,male,NaN,0,0,30.695801,C,First,...,NaN,Cherbourg,no,True,6452.462891,2520.419922,4.0125,0.42,512.329224,60.0
2,292,0,2,male,36.0,0,0,12.875000,C,Second,...,D,Cherbourg,no,True,6452.462891,2520.419922,4.0125,0.42,512.329224,60.0
3,731,0,3,male,11.0,0,0,18.787500,C,Third,...,NaN,Cherbourg,no,True,6452.462891,2520.419922,4.0125,0.42,512.329224,60.0
4,98,1,2,female,34.0,0,1,23.000000,S,Second,...,NaN,Southampton,yes,False,12341.853516,11251.419922,0.0000,0.67,263.000000,74.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
618,510,1,3,male,29.0,0,0,7.750000,Q,Third,...,NaN,Queenstown,yes,True,671.995972,584.000000,6.7500,2.00,90.000000,70.5
619,319,1,1,female,40.0,1,1,134.500000,C,First,...,E,Cherbourg,yes,False,6452.462891,2520.419922,4.0125,0.42,512.329224,60.0
620,194,1,1,female,44.0,0,0,27.720800,C,First,...,B,Cherbourg,yes,True,6452.462891,2520.419922,4.0125,0.42,512.329224,60.0
621,495,0,3,male,NaN,0,0,14.458300,C,Third,...,NaN,Cherbourg,no,True,6452.462891,2520.419922,4.0125,0.42,512.329224,60.0
622,882,0,3,female,22.0,0,0,10.516700,S,Third,...,NaN,Southampton,no,True,12341.853516,11251.419922,0.0000,0.67,263.000000,74.0

### Feature Selection with GBDT feature importance
- GBDT で feature importance計算して、閾値以上の特徴量のみ返す

In [47]:
from xfeat import GBDTFeatureSelector

dtrain = pd.read_feather("./train.ftr")
cols = dtrain.columns.to_list()
print(cols)
cols.remove("survived")

dtrain_cate = Pipeline([
    SelectCategorical(),
    LabelEncoder(output_suffix=""),
]).fit_transform(dtrain)

dtrain_num = Pipeline([
    SelectNumerical(),
    LabelEncoder(output_suffix=""),
]).fit_transform(dtrain)

dtrain = pd.concat([dtrain_cate, dtrain_num], axis=1)
display(dtrain)

params = {
    'boosting_type': 'gbdt',
    'metric': 'rmse',
    "objective": "binary",
    'n_jobs': -1,
    'seed': 236,
    'learning_rate': 0.1,
    'bagging_fraction': 0.75,
    'bagging_freq': 10, 
    'colsample_bytree': 0.75
}

fit_kwargs = {
    "num_boost_round": 10,
}

selector = GBDTFeatureSelector(
    input_cols=cols,
    target_col="survived",
    threshold=0.5,
    lgbm_params=params,
    lgbm_fit_kwargs=fit_kwargs,
)
df_selected = selector.fit_transform(dtrain)
print("Selected columns:", selector._selected_cols)

['index', 'survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town', 'alive', 'alone']

,sex,embarked,class,who,deck,embark_town,alive,index,survived,pclass,age,sibsp,parch,fare,adult_male,alone
0,0,0,0,0,-1,0,0,0,0,0,0,0,0,0,0,0
1,0,1,1,1,-1,1,0,1,0,1,-1,1,1,1,1,1
2,0,1,2,1,0,1,0,2,0,2,1,1,1,2,1,1
3,0,1,0,0,-1,1,0,3,0,0,2,1,1,3,0,1
4,1,2,2,2,-1,2,1,4,1,2,3,1,0,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
618,0,0,0,1,-1,0,1,618,1,0,20,1,1,14,1,1
619,1,1,1,2,5,1,1,619,1,1,44,3,0,212,0,0
620,1,1,1,2,2,1,1,620,1,1,58,1,1,142,0,1
621,0,1,0,1,-1,1,0,621,0,0,-1,1,1,184,1,1
622,1,2,0,2,-1,2,0,622,0,0,29,1,1,213,0,1

Selected columns: ['index', 'fare', 'age', 'adult_male', 'deck', 'pclass', 'alive']

### Feature Selection with Optuna
- 選ばれた特徴量に対してハイパーパラメーターの最良の値を検索して目的を最大化できる

In [49]:
import optuna
from xfeat import GBDTFeatureExplorer
from functools import partial

dtrain = pd.read_feather("./train.ftr")
input_cols = dtrain.columns.to_list()
print(input_cols)
input_cols.remove("survived")

dtrain_cate = Pipeline([
    SelectCategorical(),
    LabelEncoder(output_suffix=""),
]).fit_transform(dtrain)

dtrain_num = Pipeline([
    SelectNumerical(),
    LabelEncoder(output_suffix=""),
]).fit_transform(dtrain)

dtrain = pd.concat([dtrain_cate, dtrain_num], axis=1)
display(dtrain)

LGBM_PARAMS = {
    'boosting_type': 'gbdt',
    'metric': 'rmse',
    "objective": "binary",
    'n_jobs': -1,
    'seed': 236,
    'learning_rate': 0.1,
    'bagging_fraction': 0.75,
    'bagging_freq': 10, 
    'colsample_bytree': 0.75
}

fit_params = {
    "num_boost_round": 10,
    "early_stopping_rounds": 50, 
    "verbose_eval": 1
}

def objective(df, selector, trial):
    selector.set_trial(trial)
    selector.fit(df)
    input_cols = selector.get_selected_cols()

    # Evaluate with selected columns
    train_set = lgb.Dataset(df[input_cols], 
                            label=df["survived"])
    scores = lgb.cv(LGBM_PARAMS, 
                    train_set, 
                    num_boost_round=100, 
                    stratified=False, seed=1)
    rmsle_score = scores["rmse-mean"][-1]
    return rmsle_score


selector = GBDTFeatureExplorer(
    input_cols=input_cols,
    target_col="survived",
    fit_once=True,
    threshold_range=(0.6, 1.0),
    lgbm_params=LGBM_PARAMS,
    lgbm_fit_kwargs=fit_params,
)

study = optuna.create_study(direction="minimize")
study.optimize(partial(objective, 
                       dtrain, 
                       selector), 
               n_trials=20)

selector.from_trial(study.best_trial)
print("Selected columns:", selector.get_selected_cols())

['index', 'survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town', 'alive', 'alone']

,sex,embarked,class,who,deck,embark_town,alive,index,survived,pclass,age,sibsp,parch,fare,adult_male,alone
0,0,0,0,0,-1,0,0,0,0,0,0,0,0,0,0,0
1,0,1,1,1,-1,1,0,1,0,1,-1,1,1,1,1,1
2,0,1,2,1,0,1,0,2,0,2,1,1,1,2,1,1
3,0,1,0,0,-1,1,0,3,0,0,2,1,1,3,0,1
4,1,2,2,2,-1,2,1,4,1,2,3,1,0,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
618,0,0,0,1,-1,0,1,618,1,0,20,1,1,14,1,1
619,1,1,1,2,5,1,1,619,1,1,44,3,0,212,0,0
620,1,1,1,2,2,1,1,620,1,1,58,1,1,142,0,1
621,0,1,0,1,-1,1,0,621,0,0,-1,1,1,184,1,1
622,1,2,0,2,-1,2,0,622,0,0,29,1,1,213,0,1

[W 2020-07-19 15:17:31,106] Setting status of trial#0 as TrialState.FAIL because of the following error: ValueError('For early stopping, at least one dataset and eval metric is required for evaluation')
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/optuna/study.py", line 734, in _run_trial
    result = func(trial)
  File "<ipython-input-49-524ba17dc17c>", line 43, in objective
    selector.fit(df)
  File "/usr/local/lib/python3.7/site-packages/xfeat/optuna_selector/_gbdt_feature_explorer.py", line 108, in fit
    super().fit(input_df)
  File "/usr/local/lib/python3.7/site-packages/xfeat/selector/_gbdt_selector.py", line 77, in fit
    self._lgbm_params, train_data, **self._lgbm_fit_kwargs
  File "/usr/local/lib/python3.7/site-packages/lightgbm/engine.py", line 264, in train
    evaluation_result_list=evaluation_result_list))
  File "/usr/local/lib/python3.7/site-packages/lightgbm/callback.py", line 221, in _callback
    _init(env)
  File "/usr/local/lib/python3.7/site-packages/lightgbm/callback.py", line 191, in _init
    raise ValueError('For early stopping, '
ValueError: For early stopping, at least one dataset and eval metric is required for evaluation

ValueError: For early stopping, at least one dataset and eval metric is required for evaluation

https://github.com/pfnet-research/xfeat/blob/master/examples/feature_selection_with_gbdt_and_optuna.py

In [50]:
"""
This example uses UCI ML California Housing dataset, which is a
regression dataset including 20k samples.

    Dua, D. and Graff, C. (2019). UCI Machine Learning Repository
    [http://archive.ics.uci.edu/ml]. Irvine, CA: University of California, School of
    Information and Computer Science.
"""
from functools import partial

from sklearn.datasets import fetch_california_housing
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
import lightgbm as lgb
import optuna

from xfeat import ArithmeticCombinations, Pipeline
from xfeat import GBDTFeatureExplorer


def main():
    data = fetch_california_housing()
    df = pd.DataFrame(
        data=data.data,
        columns=data.feature_names)

    print("Before adding interaction features:")
    evaluate_dataframe(df, data.target)

    print("After adding interaction features:")
    df = feature_engineering(df)
    evaluate_dataframe(df, data.target)

    print("After applying GBDTFeatureSelector:")
    df = feature_selection(df, data.target)
    evaluate_dataframe(df, data.target)


def feature_engineering(df):
    cols = df.columns.tolist()

    encoder = Pipeline([
        ArithmeticCombinations(input_cols=cols,
                               drop_origin=False,
                               operator="+",
                               r=2,
                               output_suffix="_plus"),
        ArithmeticCombinations(input_cols=cols,
                               drop_origin=False,
                               operator="*",
                               r=2,
                               output_suffix="_mul"),
        ArithmeticCombinations(input_cols=cols,
                               drop_origin=False,
                               operator="-",
                               r=2,
                               output_suffix="_minus"),
        ArithmeticCombinations(input_cols=cols,
                               drop_origin=False,
                               operator="+",
                               r=3,
                               output_suffix="_plus"),
    ])
    return encoder.fit_transform(df)


def objective(df, selector, trial):
    selector.set_trial(trial)
    selector.fit(df)
    input_cols = selector.get_selected_cols()

    params = {
        "objective": "regression",
        "metric": "rmse",
        "learning_rate": 0.1,
        "verbosity": -1,
    }

    # Evaluate with selected columns
    train_set = lgb.Dataset(df[input_cols], label=df["target"])
    scores = lgb.cv(params, train_set, num_boost_round=100, stratified=False, seed=1)
    rmsle_score = scores["rmse-mean"][-1]
    return rmsle_score


def feature_selection(df, y):
    input_cols = df.columns.tolist()
    n_before_selection = len(input_cols)

    df["target"] = np.log1p(y)
    df_train, _ = train_test_split(df, test_size=0.5, random_state=1)

    params = {
        "objective": "regression",
        "metric": "rmse",
        "learning_rate": 0.1,
        "verbosity": -1,
    }
    fit_params = {
        "num_boost_round": 100,
    }
    selector = GBDTFeatureExplorer(input_cols=input_cols,
                                   target_col="target",
                                   fit_once=True,
                                   threshold_range=(0.6, 1.0),
                                   lgbm_params=params,
                                   lgbm_fit_kwargs=fit_params)

    study = optuna.create_study(direction="minimize")
    study.optimize(partial(objective, df_train, selector), n_trials=20)

    selector.from_trial(study.best_trial)
    selected_cols = selector.get_selected_cols()
    print(f" - {n_before_selection - len(selected_cols)} features are removed.")

    return df[selected_cols]


def evaluate_dataframe(df, y):
    X_train, X_test, y_train, y_test = train_test_split(df.values, y,
                                                        test_size=0.5,
                                                        random_state=1)
    y_train = np.log1p(y_train)

    params = {
        "objective": "regression",
        "metric": "rmse",
        "learning_rate": 0.1,
        "verbosity": -1,
    }
    train_set = lgb.Dataset(X_train, label=y_train)
    scores = lgb.cv(params, train_set, num_boost_round=100, stratified=False, seed=1)
    rmsle_score = scores["rmse-mean"][-1]
    print(f" - CV RMSEL: {rmsle_score:.6f}")

    booster = lgb.train(params, train_set, num_boost_round=100)
    y_pred = booster.predict(X_test)
    test_rmsle_score = rmse(np.log1p(y_test), y_pred)
    print(f" - test RMSEL: {test_rmsle_score:.6f}")


def rmse(y_true, y_pred):
    return np.sqrt(mean_squared_error(y_true, y_pred))


if __name__ == "__main__":
    main()

Downloading Cal. housing from https://ndownloader.figshare.com/files/5976036 to /root/scikit_learn_data

Before adding interaction features:
 - CV RMSEL: 0.143823
 - test RMSEL: 0.140610
After adding interaction features:
 - CV RMSEL: 0.140239
 - test RMSEL: 0.137046
After applying GBDTFeatureSelector:

[I 2020-07-19 15:19:17,248] Finished trial#0 with value: 0.14004333870727037 with parameters: {'GBDTFeatureSelector.threshold': 0.729281394099013}. Best is trial#0 with value: 0.14004333870727037.
[I 2020-07-19 15:19:25,665] Finished trial#1 with value: 0.13979228856367798 with parameters: {'GBDTFeatureSelector.threshold': 0.7688554216403491}. Best is trial#1 with value: 0.13979228856367798.
[I 2020-07-19 15:19:35,179] Finished trial#2 with value: 0.13996029128482462 with parameters: {'GBDTFeatureSelector.threshold': 0.8790890553169068}. Best is trial#1 with value: 0.13979228856367798.
[I 2020-07-19 15:19:44,527] Finished trial#3 with value: 0.13946556227894677 with parameters: {'GBDTFeatureSelector.threshold': 0.8543602184016633}. Best is trial#3 with value: 0.13946556227894677.
[I 2020-07-19 15:19:54,570] Finished trial#4 with value: 0.13989178190123577 with parameters: {'GBDTFeatureSelector.threshold': 0.9238391696986176}. Best is trial#3 with value: 0.13946556227894677.
[I 2020-07-19 15:20:03,112] Finished trial#5 with value: 0.1395610688806606 with parameters: {'GBDTFeatureSelector.threshold': 0.8060245151660779}. Best is trial#3 with value: 0.13946556227894677.
[I 2020-07-19 15:20:09,839] Finished trial#6 with value: 0.139793104762907 with parameters: {'GBDTFeatureSelector.threshold': 0.6347510687034957}. Best is trial#3 with value: 0.13946556227894677.
[I 2020-07-19 15:20:20,185] Finished trial#7 with value: 0.13988513329571153 with parameters: {'GBDTFeatureSelector.threshold': 0.9695094713903749}. Best is trial#3 with value: 0.13946556227894677.
[I 2020-07-19 15:20:26,851] Finished trial#8 with value: 0.13974500072696064 with parameters: {'GBDTFeatureSelector.threshold': 0.619841657904388}. Best is trial#3 with value: 0.13946556227894677.
[I 2020-07-19 15:20:37,116] Finished trial#9 with value: 0.13973647777747084 with parameters: {'GBDTFeatureSelector.threshold': 0.9657321929242503}. Best is trial#3 with value: 0.13946556227894677.
[I 2020-07-19 15:20:46,256] Finished trial#10 with value: 0.13953687690126454 with parameters: {'GBDTFeatureSelector.threshold': 0.8492239504115694}. Best is trial#3 with value: 0.13946556227894677.
[I 2020-07-19 15:20:55,152] Finished trial#11 with value: 0.1395641956119829 with parameters: {'GBDTFeatureSelector.threshold': 0.858423075181592}. Best is trial#3 with value: 0.13946556227894677.
[I 2020-07-19 15:21:03,906] Finished trial#12 with value: 0.14040708048960301 with parameters: {'GBDTFeatureSelector.threshold': 0.8311838351798997}. Best is trial#3 with value: 0.13946556227894677.
[I 2020-07-19 15:21:11,421] Finished trial#13 with value: 0.14006460781993912 with parameters: {'GBDTFeatureSelector.threshold': 0.7160392349550077}. Best is trial#3 with value: 0.13946556227894677.
[I 2020-07-19 15:21:21,353] Finished trial#14 with value: 0.13996029128482462 with parameters: {'GBDTFeatureSelector.threshold': 0.884137668653044}. Best is trial#3 with value: 0.13946556227894677.
[I 2020-07-19 15:21:31,463] Finished trial#15 with value: 0.13989178190123577 with parameters: {'GBDTFeatureSelector.threshold': 0.9210577311159392}. Best is trial#3 with value: 0.13946556227894677.
[I 2020-07-19 15:21:39,701] Finished trial#16 with value: 0.13979228856367798 with parameters: {'GBDTFeatureSelector.threshold': 0.7679411505626565}. Best is trial#3 with value: 0.13946556227894677.
[I 2020-07-19 15:21:49,161] Finished trial#17 with value: 0.14040708048960301 with parameters: {'GBDTFeatureSelector.threshold': 0.8341380120770163}. Best is trial#3 with value: 0.13946556227894677.
[I 2020-07-19 15:21:59,313] Finished trial#18 with value: 0.1398257555130527 with parameters: {'GBDTFeatureSelector.threshold': 0.9140086200314562}. Best is trial#3 with value: 0.13946556227894677.
[I 2020-07-19 15:22:06,633] Finished trial#19 with value: 0.14027444014795357 with parameters: {'GBDTFeatureSelector.threshold': 0.6828556418128217}. Best is trial#3 with value: 0.13946556227894677.

 - 47 features are removed.
 - CV RMSEL: 0.140274
 - test RMSEL: 0.137342